<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:8px;">
  <div class="col-9">
    <h5 style="color:rgb(250,0,0")>
      {{jobs['title']}}
    </h5>
    <div style="margin-bottom; 4px;">
      <b>Location:</b> {{jobs['location']}}
    </div>
  
    {% if 'salary' in jobs %}              
      <div style="margin-bottom; 4px;">
        <b>Salary:</b> {{jobs['salary']}}
      </div>
    {% endif %}
  </div>
  <div class="col-3">
      <button type="button" class="btn btn-outline-primary">Apply Now</button>
  </div>

</div>